@import './app/_styles/variables.scss';
@import './app/_styles/mixin.scss';

.header {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  min-height: 88px;
  background-color: var(--nav-bg-color);
  backdrop-filter: blur(0px);
  opacity: 1;
}
