@import './app/_styles/variables.scss';
@import './app/_styles/mixin.scss';

.header {
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  min-height: 88px;
  background-color: transparent;
  opacity: 1;
  transition: all 700ms ease-out;
}
