@import './app/_styles/variables.scss';
@import './app/_styles/mixin.scss';

.ageConfirm {
  text-align: start;
  margin: 22px 0 0 0;
  padding: 0;
  border: none;

  @media (min-width: $desktop-md-width) {
    margin-top: 26px;
  }
}

.title {
  padding: 0;
  @include font(normal, 16px, 142%);

  @media (min-width: $desktop-md-width) {
    @include font(normal, 20px, 142%);
  }
}

.list {
  display: flex;
  margin: 3px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-md-width) {
    margin-top: 7px;
  }
}

.item:last-child {
  margin-left: 31px;
}

.radio {
  position: relative;
}

.radioMark {
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1.5px solid var(--main-text-color);
  border-radius: 50%;

  @media (min-width: $desktop-md-width) {
    top: -1px;
    width: 26px;
    height: 26px;
    border: 2px solid var(--main-text-color);
  }
}

.radioLabel {
  margin-left: 30px;
  @include font(normal, 16px, 142%);

  @media (min-width: $desktop-md-width) {
    margin-left: 37px;
    @include font(normal, 20px, 142%);
  }
}

.radio:hover .radioMark {
  opacity: 0.9;
}

.radioInput:checked + .radioMark::before {
  position: absolute;
  top: 4px;
  left: 4.2px;
  width: 9.23px;
  height: 9.23px;
  background-color: var(--main-text-color);
  border-radius: 50%;
  content: '';

  @media (min-width: $desktop-md-width) {
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
  }
}
