@import './app/_styles/variables.scss';
@import './app/_styles/mixin.scss';

.curtain {
  --cliptrX: 0%;
  --cliptlX: 0%;
  --clipbrX: 0%;
  --clipblX: 0%;

  --cliptrY: 0%;
  --cliptlY: 0%;
  --clipbrY: 0%;
  --clipblY: 0%;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-bg-color);
  clip-path: polygon(
    var(--cliptlX) var(--cliptlY),
    var(--cliptrX) var(--cliptrY),
    var(--clipbrX) var(--clipbrY),
    var(--clipblX) var(--clipblY)
  );

  z-index: 200;
}
