@import './app/_styles/variables.scss';
@import './app/_styles/mixin.scss';

.container {
  position: relative;
}

.buttonClose {
  position: absolute;
  top: 3%;
  right: 4%;
  font-size: 30px;
  color: var(--main-text-color);
  border: none;
  background-color: transparent;
  transform: rotate(45deg);
  cursor: pointer;
}

.buttonClose:hover {
  color: var(--btn-hover-fourth-color);
}

.buttonClose:active {
  color: var(--btn-active-third-color);
}
