@import './app/_styles/variables.scss';
@import './app/_styles/mixin.scss';

.sectionDescription {
  min-width: 360px;
  width: auto;
  min-height: 488px;
  background-image: url('/img/backgound-village/background-village-desktop-md.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 601px auto;

  @media (min-resolution: 2dppx) {
    background-image: url('/img/backgound-village/background-village-desktop-md@2x.jpg');
    background-size: 601px auto;
  }

  @media (min-width: $tablet-md-width) {
    background-image: url('/img/backgound-village/background-village-desktop-md.jpg');
    background-position: top;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url('/img/backgound-village/background-village-desktop-md@2x.jpg');
      background-size: cover;
    }
  }

  @media (min-width: $tablet-lg-width) {
    min-width: 800px;
    width: auto;
    min-height: 831px;
    background-image: url('/img/backgound-village/background-village-desktop-md.jpg');
    background-position: top;

    @media (min-resolution: 2dppx) {
      background-image: url('/img/backgound-village/background-village-desktop-md@2x.jpg');
      background-size: 1024px auto;
    }
  }

  @media (min-width: 1025px) {
    min-width: 1024px;
    width: auto;
    min-height: 831px;
    background-image: url('/img/backgound-village/background-village-desktop-lg.jpg');
    background-size: 1920px auto;

    @media (min-resolution: 2dppx) {
      background-image: url('/img/backgound-village/background-village-desktop-lg@2x.jpg');
      background-size: 1920px auto;
    }
  }

  @media (min-width: $desktop-lg-width) {
    min-width: 1920px;
    width: auto;
    min-height: 831px;
    background-image: url('/img/backgound-village/background-village-desktop-lg.jpg');
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url('/img/backgound-village/background-village-desktop-lg@2x.jpg');
      background-size: cover;
    }
  }
}

.tagline {
  margin: 0 auto;
  width: 250px;
  text-align: center;
  color: var(--third-text-color);

  @media (min-width: $tablet-lg-width) {
    width: 610px;
  }

  @media (min-width: $desktop-lg-width) {
    width: 620px;
  }
}

.title {
  @include font(bold, 34px, 112%, 0.02em);

  margin: 0;
  padding-top: 140px;

  @media (min-width: $tablet-lg-width) {
    @include font(bold, 96px, 109%, 0.02em);

    padding-top: 207px;
  }

  @media (min-width: $desktop-lg-width) {
    padding-top: 209px;
  }
}

.title .line {
  display: block;
}

.description {
  @include font(normal, 16px, 144%);

  margin-top: 40px;

  @media (min-width: $tablet-lg-width) {
    @include font(normal, 20px, 142%);

    margin-top: 52px;
  }

  @media (min-width: $desktop-lg-width) {
    margin-top: 52px;
  }
}

.button {
  @include font(normal, 16px, 144%);

  width: 114px;
  min-height: 33px;
  margin-top: 24px;
  background-color: var(--third-bg-color);
  border: none;
  border-radius: 10px;

  @media (min-width: $tablet-lg-width) {
    @include font(normal, 17px, 142%);

    width: 118px;
    min-height: 34px;
    margin-top: 28px;
  }
}

.button:hover {
  color: var(--third-text-color);
  background-color: var(--active-link-color);
  cursor: pointer;
}

.button:active {
  background-color: var(--btn-active-third-color);
}
