@import './app/_styles/variables.scss';
@import './app/_styles/mixin.scss';

.footer {
  display: flex;
  justify-content: center;
  min-width: 360px;
  background-color: var(--sec-bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 306px;
  min-height: 95px;
  margin: 0 auto;

  @media (min-width: $desktop-md-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: 916px;
    min-height: 88px;
  }

  @media (min-width: $desktop-lg-width) {
    min-width: 1166px;
  }
}

.text {
  @include font(normal, 16px, 142%);

  margin: 22px 0 0 0;
  color: var(--sec-text-color);

  @media (min-width: $desktop-md-width) {
    @include font(normal, 20px, 142%);

    margin: 0;
  }
}

.socials {
  @include font(normal, 16px, 142%);

  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 40px;
  row-gap: 10px;
  margin: 7px 0 0 25px;
  padding: 0 10px 10px 10px;
  list-style-type: none;

  @media (min-width: $desktop-md-width) {
    @include font(normal, 20px, 142%);

    column-gap: 62px;
    row-gap: 10px;
    max-width: 650px;
    margin: 0 -11px 0 0;
    padding: 10px;
  }

  @media (min-width: $desktop-lg-width) {
    max-width: 800px;
  }
}

.socialsItem {
  position: relative;
  max-width: 75px;

  @media (min-width: $desktop-md-width) {
    max-width: 200px;
  }
}

.vkIcon {
  position: absolute;
  top: 8px;
  left: -22px;
  width: 15px;
  height: 9px;
  fill: var(--sec-text-color);

  @media (min-width: $desktop-md-width) {
    top: 10px;
    left: -31px;
    width: 20px;
    height: 12px;
  }
}

.instagramIcon {
  position: absolute;
  top: 6px;
  left: -18px;
  width: 11px;
  height: 11px;
  fill: var(--sec-text-color);

  @media (min-width: $desktop-md-width) {
    top: 8px;
    left: -26px;
    width: 14px;
    height: 14px;
  }
}

.facebookIcon {
  position: absolute;
  top: 4px;
  left: -15px;
  width: 7px;
  height: 13px;
  fill: var(--sec-text-color);

  @media (min-width: $desktop-md-width) {
    top: 5px;
    left: -23px;
    width: 8px;
    height: 17px;
  }
}

.socialsLink {
  color: var(--main-text-color);
  text-decoration: none;
}

.socialsLink:hover {
  cursor: pointer;
}

.socialsLink:hover:after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--main-text-color);
  content: '';
}
