@import './_styles/global/variables.scss';

.headerFixed {
  z-index: 10;
  position: fixed;
  display: none;
  align-items: center;
  top: 0;
  width: 100%;
  min-height: 88px;
  background-color: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
}

.showHeaderFixed {
  display: flex;
}
