@import './_styles/global/variables.scss';

.links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-gap: 18px;
  margin: 49px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-md-width) {
    grid-template-columns: 1fr;
    width: 63.5%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $tablet-lg-width) {
    grid-template-columns: repeat(2, min-content);
    width: auto;
  }

  @media (min-width: $desktop-md-width) {
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(3, min-content);
    column-gap: 2%;
    row-gap: 1.1%;
    width: 89.5%;
    margin-top: 104px;
  }

  @media (min-width: 1400px) {
    grid-template-columns: repeat(3, 32.4%);
    grid-template-rows: repeat(2, min-content);
    column-gap: 1.3%;
    row-gap: 1.7%;
    width: 89.5%;
    margin-top: 104px;
  }

  @media (min-width: $desktop-lg-width) {
    grid-template-columns: repeat(3, 31.6%);
    grid-template-rows: repeat(3, min-content);
    grid-gap: 30px;
    width: 61%;
    margin-top: 105px;
  }
}

.linksItem {
  overflow: hidden;
  border-radius: 20px;

  @media (min-width: $desktop-md-width) {
    border-radius: 50px;
  }
}
