@import './styles/variables.scss';
@import './styles/mixin.scss';

.picture {
  order: 1;
  align-self: center;
  width: 36.1%;

  @media (min-width: $tablet-lg-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    width: auto;
  }
}

.picture img {
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-lg-width) {
    width: auto;
  }
}
