@import './app/_styles/global/variables.scss';
@import './app/_styles/global/mixin.scss';

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 360px;
  text-align: center;
}

.title {
  margin: 75px 0 0 0;
  @include font(bold, 34px, 112%, 0.02em);
  color: $black;

  @media (min-width: $desktop-md-width) {
    margin-top: 134px;
    @include font(bold, 59px, 124%);
  }

  @media (min-width: $desktop-lg-width) {
    margin-top: 135px;
  }
}

.description {
  margin: 20px 0 0 0;
  padding: 0 20px;
  @include font(normal, 16px, 142%);
  color: $grey300;

  @media (min-width: $desktop-md-width) {
    margin-top: 30px;
    padding: 0;
    @include font(normal, 20px, 142%);
  }
}

.description br {
  display: none;

  @media (min-width: $desktop-md-width) {
    display: block;
  }
}

.list {
  display: grid;
  grid-template-columns: max-content;
  gap: 18px;
  width: auto;
  margin: 50px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-md-width) {
    grid-template-columns: 1fr;
    width: 65.6%;
    margin: 50px auto;
  }

  @media (min-width: $tablet-lg-width) {
    grid-template-columns: repeat(2, max-content);
    gap: 35px;
    width: auto;
  }

  @media (min-width: $desktop-md-width) {
    grid-template-columns: 49% 49%;
    gap: 2%;
    width: 89.6%;
    margin: 99px 0 0 0;
  }

  @media (min-width: $desktop-lg-width) {
    grid-template-columns: 48.7% 48.7%;
    gap: 2.6%;
    width: 61%;
    margin-top: 98px;
  }
}
