@import './app/_styles/variables.scss';
@import './app/_styles/mixin.scss';

.navLink {
  position: relative;
  padding: 0;
  font: inherit;
  font-size: inherit;
  color: var(--main-text-color);
  text-decoration: none;
  background: none;
  border: none;
}

.navLinkCurrent:hover {
  cursor: none;
}

.line {
  z-index: 1;
  position: absolute;
  right: 200;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--active-link-color);
  content: '';
}

.navItem {
  position: relative;
  overflow: hidden;
}
