@import './app/_styles/variables.scss';
@import './app/_styles/mixin.scss';

.nav {
  @include font(bold, 16px, 142%);

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  width: auto;
  margin: 31px 31px 0;
  padding: 0;
  color: var(--main-text-color);
  list-style-type: none;

  @media (min-width: $desktop-md-width) {
    @include font(bold, 23px, 122%, 0.003em);

    column-gap: 30px;
    justify-content: normal;
    min-width: 700px;
    margin-top: 36px;
  }
}

.navLink {
  position: relative;
  color: var(--main-text-color);
  text-decoration: none;
}

.navLink:not(.navLinkCurrent):hover::after {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: var(--main-text-color);
  content: '';
}

.navLinkCurrent:hover {
  cursor: default;
}

.navLinkCurrent {
  color: var(--active-link-color);
}

.navLinkCurrent::after {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: var(--active-link-color);
  content: '';

  @media (min-width: $desktop-md-width) {
    bottom: -5px;
  }

  @media (min-width: $desktop-lg-width) {
    bottom: -6px;
  }
}
