@import './_styles/global/variables.scss';
@import './_styles/global/mixin.scss';

.histories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 360px;
  text-align: center;
}

.title {
  margin: 59px 0 0 0;
  @include font(bold, 34px, 112%, 0.02em);
  color: $black;

  @media (min-width: $desktop-md-width) {
    margin-top: 106px;
    @include font(bold, 59px, 124%);
  }
}

.description {
  margin: 20px 0 0 0;
  padding: 0 20px;
  @include font(normal, 16px, 142%);
  color: $grey300;

  @media (min-width: $desktop-md-width) {
    margin-top: 30px;
    padding: 0;
    @include font(normal, 20px, 142%);
  }
}

.description br {
  display: none;

  @media (min-width: $desktop-md-width) {
    display: block;
  }
}

.list {
  position: relative;
  width: 88%;
  max-width: 670px;

  margin: 51px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-md-width) {
    width: 89.6%;
    max-width: 1170px;
    margin-top: 99px;
  }

  @media (min-width: $desktop-lg-width) {
    width: 61%;
    max-width: 1570px;
    margin-top: 98px;
  }
}
