@import './app/_styles/variables.scss';
@import './app/_styles/mixin.scss';

.cursor {
  position: fixed;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--cursor-color);
  z-index: 200;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.follower {
  position: fixed;
  background-color: transparent;
  z-index: 200;
  transform: translate(-100px);
  pointer-events: none;
  mix-blend-mode: difference;
}

.text {
  @include font(normal, 18px, 16px);

  position: fixed;
  opacity: 0;
  z-index: 200;
  transform: translate(-50%, -130%);
}

.circle {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1.5px solid var(--cursor-follower-color);
  border-radius: 50%;
  background-color: transparent;
  z-index: 200;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
