@import './app/_styles/global/variables.scss';
@import './app/_styles/global/mixin.scss';

.footer {
  display: flex;
  justify-content: center;
  min-width: 360px;
  margin-top: 73px;
  background-color: $beige200;

  @media (min-width: $desktop-md-width) {
    margin-top: 127px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 306px;
  min-height: 95px;
  margin: 0 auto;

  @media (min-width: $desktop-md-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: 916px;
    min-height: 88px;
  }

  @media (min-width: $desktop-lg-width) {
    min-width: 1166px;
  }
}

.text {
  margin: 22px 0 0 0;
  @include font(normal, 16px, 142%);
  color: $grey300;

  @media (min-width: $desktop-md-width) {
    margin: 0;
    @include font(normal, 20px, 142%);
  }
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 40px;
  row-gap: 10px;
  margin: 7px 0 0 25px;
  padding: 0 10px 10px 10px;
  @include font(normal, 16px, 142%);
  list-style-type: none;

  @media (min-width: $desktop-md-width) {
    column-gap: 62px;
    row-gap: 10px;
    max-width: 650px;
    margin: 0 -11px 0 0;
    padding: 10px;
    @include font(normal, 20px, 142%);
  }

  @media (min-width: $desktop-lg-width) {
    max-width: 800px;
  }
}

.socialsItem {
  position: relative;
  max-width: 75px;

  @media (min-width: $desktop-md-width) {
    max-width: 200px;
  }
}

.socialsInstagram::after {
  position: absolute;
  top: 6px;
  left: -18px;
  width: 14px;
  height: 14px;
  background-image: url('/img/svg-icons/instagram.svg');
  background-size: 77% auto;
  background-repeat: no-repeat;
  content: '';

  @media (min-width: $desktop-md-width) {
    top: 8px;
    left: -26px;
    background-size: 100% auto;
  }
}

.socialsFacebook:after {
  position: absolute;
  top: 4px;
  left: -15px;
  width: 8px;
  height: 17px;
  background-image: url('/img/svg-icons/facebook.svg');
  background-size: 77% auto;
  background-repeat: no-repeat;
  content: '';

  @media (min-width: $desktop-md-width) {
    top: 5px;
    left: -23px;
    background-size: 100% auto;
  }
}

.socialsVkontakte:after {
  position: absolute;
  top: 8px;
  left: -22px;
  width: 20px;
  height: 12px;
  background-image: url('/img/svg-icons/vk.svg');
  background-size: 77% auto;
  background-repeat: no-repeat;
  content: '';

  @media (min-width: $desktop-md-width) {
    top: 10px;
    left: -31px;
    background-size: 100% auto;
  }
}

.socialsLink {
  color: $black;
  text-decoration: none;
}

.socialsLink:hover {
  cursor: pointer;
}

.socialsLink:hover:after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: $black;
  content: '';
}
