$font-family: 'Roboto', 'Arial', sans-serif;

$white: #ffffff;
$black: #1b1f2b;
$orange200: #efa501;
$orange100: #f8e6be;
$green400: #286562;
$green300: #3b7e7b;
$green200: #627f7e;
$green100: #e0f0e5;
$grey300: #a6a6a6;
$grey200: #d9dfdb;
$grey100: #f1f3f2;
$beige200: #f4f0e9;
$beige100: #f9f7f4;

$desktop-lg-width: 1920px;
$desktop-md-width: 1024px;
$tablet-lg-width: 800px;
$tablet-md-width: 500px;
$mobile-width: 360px;
