@import './app/_styles/variables.scss';
@import './app/_styles/mixin.scss';

.card {
  display: flex;
  flex-direction: column;
  width: 318px;
  height: 293px;
  padding: 20px 21px 20px 20px;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: start;
  background-color: var(--sec-bg-color);
  border: none;

  @media (min-width: $tablet-md-width) {
    width: 100%;
    padding: 6.2% 6.4% 6.2% 6.3%;
  }

  @media (min-width: $tablet-lg-width) {
    width: 318px;
    min-height: 408px;
    padding: 20px 21px 20px 20px;
  }

  @media (min-width: $desktop-md-width) {
    width: auto;
    height: 421px;
    padding: 9.1% 8.9% 8.9%;
    border-radius: 50px;
  }

  @media (min-width: $desktop-lg-width) {
    width: auto;
    height: 365px;
    padding: 7.1% 7% 6.9%;
  }
}

.text {
  @include font(bold, 16px, 144%);

  margin: 0;
  color: var(--main-text-color);

  @media (min-width: $desktop-md-width) {
    @include font(bold, 23px, 122%);
  }
}

.text:not(:first-child) {
  margin: 23px 0 40px 0;

  @media (min-width: $desktop-md-width) {
    margin: 28px 0 70px 0;
  }
}

.textContainer {
  height: 138px;
  overflow: hidden;

  @media (min-width: $tablet-lg-width) {
    height: 250px;
  }

  @media (min-width: $desktop-md-width) {
    height: 166px;
  }

  @media (min-width: $desktop-lg-width) {
    height: 140px;
  }
}

.user {
  display: grid;
  grid-template-columns: 203px 75px;

  grid-template-rows: repeat(2, min-content);
  margin-top: auto;

  @media (min-width: $tablet-md-width) {
    grid-template-columns: 73% 27%;
  }

  @media (min-width: $desktop-md-width) {
    grid-template-columns: 80% 20%;
  }

  @media (min-width: $desktop-lg-width) {
    grid-template-columns: 85% 15%;
  }
}

.name {
  @include font(bold, 23px, 120%, 0.04em);

  grid-area: 1 / 1 / 2 / 2;
  align-self: flex-end;
  margin: 11px 0 0 0;
  padding: 0;

  @media (min-width: $desktop-md-width) {
    @include font(500, 35px, 122%);

    align-self: center;
    margin: 0;
  }
}

.tour {
  @include font(normal, 16px, 142%, -0.01em);

  grid-area: 2 / 1 / -2 / 2;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  color: var(--sec-text-color);

  @media (min-width: $desktop-md-width) {
    @include font(normal, 17px, 142%, -0.01em);

    margin-top: 5px;
  }

  @media (min-width: $desktop-lg-width) {
    margin-top: 6px;
  }
}

.avatar {
  grid-area: 1 / 2 / -1 / -1;
  border-radius: 100px;
  display: block;
  min-width: 75px;
  margin-left: auto;
  margin-right: auto;
}

.avatarPicture {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  overflow: hidden;
}

.avatarContainer {
  grid-area: 1 / 2 / -1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
