@import './_styles/global/variables.scss';
@import './_styles/global/mixin.scss';

.licenseConfirm {
  text-align: start;
  margin: 30px 0 0 0;
  padding: 0;
  border: none;
}

.checkbox {
  position: relative;
}

.checkboxMark {
  position: absolute;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1.5px solid $black;
  border-radius: 4px;

  @media (min-width: $desktop-md-width) {
    top: 1px;
    width: 26px;
    height: 26px;
    border: 2px solid $black;
  }
}

.checkbox:hover .checkboxMark {
  opacity: 0.9;
}

.checkbox:active .checkboxMark {
  opacity: 0.8;
}

.checkboxInput:checked + .checkboxMark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 13px;
  height: 10px;
  background-image: url('/img/svg-icons/check-mark-mobile.svg');
  background-repeat: no-repeat;
  content: '';

  @media (min-width: $desktop-md-width) {
    top: 6px;
    left: 4px;
    background-image: url('/img/svg-icons/check-mark.svg');
  }
}

.checkboxLabel {
  display: block;
  width: 230px;
  margin-left: 30px;
  @include font(normal, 16px, 142%);
  color: $grey300;

  @media (min-width: $tablet-md-width) {
    width: 80%;
  }
  @media (min-width: $desktop-md-width) {
    display: inline;
    margin-left: 37px;
    @include font(normal, 17px, 142%, -0.01em);
  }

  @media (min-width: $desktop-lg-width) {
    margin-left: 43px;
    @include font(normal, 17px, 142%, -0.007em);
  }
}

.checkboxLink {
  position: relative;
  color: $black;
  text-decoration: none;
}

.checkboxLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.checkboxLink:active {
  color: $green400;
}
