@import './styles/variables.scss';
@import './styles/mixin.scss';

.chooseTour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 360px;
}

.title {
  @include font(bold, 34px, 112%, 0.02em);

  margin: 75px 0 0 0;
  color: var(--main-text-color);

  @media (min-width: $desktop-md-width) {
    @include font(bold, 59px, 124%);

    margin-top: 136px;
  }
}
