@import './styles/variables.scss';
@import './styles/mixin.scss';

.modal {
  --cliptrX: 50%;
  --cliptlX: 50%;
  --clipbrX: 50%;
  --clipblX: 50%;

  --cliptrY: 0%;
  --cliptlY: 0%;
  --clipbrY: 100%;
  --clipblY: 100%;

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  clip-path: polygon(
    var(--cliptlX) var(--cliptlY),
    var(--cliptrX) var(--cliptrY),
    var(--clipbrX) var(--clipbrY),
    var(--clipblX) var(--clipblY)
  );
}

.container {
  position: relative;

  width: 318px;

  @media (min-width: $tablet-md-width) {
    width: 80%;
  }

  @media (min-width: $tablet-lg-width) {
    width: 70%;
  }

  @media (min-width: $desktop-md-width) {
    width: 50%;
  }

  @media (min-width: $desktop-lg-width) {
    width: 40%;
  }
}

.buttonClose {
  position: absolute;
  top: 3%;
  right: 4%;
  font-size: 30px;
  color: var(--main-text-color);
  border: none;
  background-color: transparent;
  transform: rotate(45deg);
  cursor: pointer;

  @media (min-width: $tablet-md-width) {
    top: 1%;
    right: 1%;
  }

  @media (min-width: $tablet-lg-width) {
    right: 1%;
  }

  @media (min-width: $desktop-md-width) {
    top: 3%;
    right: 3.5%;
  }

  @media (min-width: $desktop-lg-width) {
    top: 4.5%;
    right: 2%;
  }
}

.buttonClose:hover {
  color: var(--btn-hover-fourth-color);
}

.buttonClose:active {
  color: var(--btn-active-third-color);
}
